{% extends 'base.html' %}
{% load static %}

{% block title %}
Photo {{obj.id}}
{% endblock title %}

{% block body %}
<div id="entry-details">
  <section class="faqDetailSection">
    <h2>{{object.title}}</h2>
    {% if object.photo %}<a href="{{object.photo.url}}" target="_blank"><img src="{{object.photo.url}}"/></a>{% endif %}
    <p>{{object.description}}</p>
    <button class="back" id="less">Show Less</button>
  </section>
</div>
{% endblock body %}
{% block extraJs %}

{% endblock extraJs %}
{% block detailfaq %}
active
{% endblock detailfaq %}
