{% extends 'base.html' %}
{% block title %}
Products
{% endblock title %}
{% block body %}
<section class="product-section">
  <div class="product-grid">
    {% for products in products_list %}
    <div class="product" style="background: url('{{products.image.url}}'); background-position: 20% 80%; background-repeat: no-repeat;">
      <div class="visible-caption">
        <h3>{{products.name}}</h3>
        <span><i>{{products.scientific_name}}</i></span>
      </div>
      <div class="hidden-caption">
        <div class="cp">
          <h5>Price</h5>
          <span>Rs. {{products.price}}</span>
        </div>
        <div class="cp">
          <h5>Weight</h5>
          <span>{{products.weight}} kg</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>


{% endblock body %}
